<!--<form  (ngSubmit)="onSubmit()">
  
    <label for="name"> Nombre: </label>
    <input id="name" type="text" formControlName="name">
    <app-messages-error [input]="name"></app-messages-error>
    <br/>    
  
    <label for="description"> Descripcion: </label>
    <textarea id="description" type="textarea" formControlName="description" rows="3" cols="20"></textarea>
    <app-messages-error [input]="description"></app-messages-error>
    <br/>
  
    <label for="year"> Año: </label>
    <input id="year" type="number" formControlName="year">
    <app-messages-error [input]="year"></app-messages-error>
    <br/>
    
    <label for="price"> Precio: </label>
    <input id="price" type="number" formControlName="price">
    <app-messages-error [input]="price"></app-messages-error>
    <br/>

    <button type="submit" [disabled]="productForm.invalid" >Submit</button>
  
  </form>!-->
